# Python cache & bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SQLite or other temp DBs
*.sqlite3
*.db

# Joblib cache
joblib_cache/
